<mat-card class="card">
    <mat-card-header>
        <mat-card-title><b>{{track.title}}</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <p><b>Lengte: </b>{{(track.length / 100)}}s</p>
            <p><b>Albums: </b></p>
            <ul>
                <li *ngFor="let al of track.albums">
                    {{al.title}}
                    <button mat-button color="primary" (click)="toonDetailsAlbum(al.id)">Details</button>
                </li>
            </ul>
            <p>{{albums}}</p>
            <p><b>Artiesten: </b></p>
            <ul>
                <li *ngFor="let ar of track.artists">
                    {{ar.name}}
                    <button mat-button color="primary" (click)="toonDetailsArtist(ar.id)">Details</button>
                </li>
            </ul>
            <p><b>Lyrics: </b></p>
            <p>{{lyrics}}</p>
    </mat-card-content>
</mat-card>
