<mat-card class="card">
    <mat-card-header>
      <mat-card-title><b>Album zoeken</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Zoek een album op titel.</p> 
        <form #zoekForm="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input matInput placeholder="Album" [(ngModel)]="album" type="text" name="album">
                </mat-form-field>
            </p>                       
            <button mat-raised-button color="primary" type="submit"
            [disabled]="!zoekForm.form.valid || submitted">Zoeken</button>    
        </form>
        <ul>
            <li *ngFor="let a of albums">
                {{a.title}}  
                <button mat-button color="primary" (click)="toonDetails(a.id)">Details</button>
            </li>
        </ul>
    </mat-card-content>
</mat-card>
